/* carousel */
.carousel-item {
    padding: 0;
    width: 300px;
    height: 300px;
    background-color: #5214ff;
    color: #fff;
    font-size: 50px;
    line-height: 300px;
    text-align: center;
}

/* drag-drop */
.drag-drop-item {
    height: 30px;
    margin-top: 3px;
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* animate items sort */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* animate item dropped */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}