/* carousel */
.carousel-item {
    padding: 0;
    width: 300px;
    height: 300px;
    background-color: #5214ff;
    color: #fff;
    font-size: 50px;
    line-height: 300px;
    text-align: center;
}

.drag-drop-item {
    height: 30px;
    margin-top: 3px;
    border: 1px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}