<spinner [active]="spinnerActive"></spinner>


<div *ngIf="!spinnerActive" class="container" style="padding-top:10px">
    
    <div> 
        <button *ngIf="!error" (click)="error=!error" class="btn btn-danger">Show error</button>
        <error [active]="error" dismissible="true" refreshable="true" (click)="error=!error"></error>
    </div>
    <br>

    <div>
        <button (click)="showModal()" class="btn btn-default">Show modal</button>
    </div>
    <br><br>


    <form #form="ngForm" (submit)="submit(form)" class="well">

        <div class="form-group col-md-6">
            <label>Rail station autocomplete</label>
            <autocomplete 
                [(ngModel)]="railStation" 
                [source]="railStatonsSource" 
                placeholder="Start to type a rail station name"
                required
                name="railStation">
            </autocomplete>
            <div>{{ railStation | json }}</div>
        </div>

        <div class="form-group col-md-6">
            <label>Country typeahead</label>
            <typeahead 
                [(ngModel)]="country" 
                [source]="countriesSource"
                placeholder="Start to type a country name"
                required
                name="country">
            </typeahead>
            <div>{{ country | json }}</div>
        </div>

        <div class="form-group col-md-6">
            <label>Day of birth</label>        
            <date-picker 
                [(ngModel)]="birthDate"
                [datepicker]="{placeholder: 'Choose your birth date', required: true}" 
                [validateDateRange]
                required
                name="birthDate">
            </date-picker>
            <div *ngIf="form.valid">{{ birthDate | date:'dd.MM.yyyy' }}</div>
            <div *ngIf="form.invalid">{{ form.controls.birthDate.errors.message }}</div>
        </div>

        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
        
    </form>

    <div class="form-group col-md-3">
        <label>Filter pizzas</label> 
        <input #filter
            [(ngModel)]="filterTerm" 
            placeholder="Enter term to filter items"
            class="form-control">
        <ul>
            <li *ngFor="let pizza of pizzas | filter : filterTerm">
                {{ pizza }}
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <popover-content #clickPopover title="Title" placement="top" [closeOnClickOutside]="true">
            Click popover content
        </popover-content>
        <div><label>Popover on click</label></div>
        <button [popover]="clickPopover" class="btn btn-default">
            <i class="fa fa-question"></i> Click me
        </button>
        
        <popover-content #hoverPopover title="Another title" placement="top">
            Hover popover content
        </popover-content>
        <div><label>Popover on hover</label></div>
        <button [popover]="hoverPopover" [popoverOnHover]="true" class="btn btn-default">
            <i class="fa fa-info"></i> Hover me
        </button>
    </div>

    <div class="col-md-3">
        <toggle-switch [(ngModel)]="switchOn"></toggle-switch>
        <span>switchOn: {{ switchOn }}</span>
    </div>

    <modal [(visible)]="modal" (visibleChanged)="hideModal()" header="Modal header" [wide]="true">
        <!-- on data retrieved -->
        <h4 *ngIf="modalContent">
            {{ modalContent }}
        </h4>

        <!-- on data loading -->
        <i *ngIf="!modalContent" 
            class="fa fa-spinner fa-pulse fa-5x fa-fw" 
            style="margin-top:-0.55em; margin-left:-0.66em; position:fixed; top:50%; left:50%;">
        </i>
    </modal>

</div>
